CONNECTION="ethernet"
DESCRIPTION="A less basic ethernet profile, using static configuration"
INTERFACE=eth0
IP="static"
IFOPTS="192.168.1.23 netmask 255.255.255.0 broadcast 192.168.1.255"
GATEWAY="192.168.1.1"
DNS1=192.168.1.1
DNS2=dns1.dreamhost.com
