[Unit]
Description=Provides automatic netcfg wired connection
Before=network.target
Wants=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/netcfg
ExecStart=/usr/sbin/ifplugd -i $WIRED_INTERFACE -r /etc/ifplugd/netcfg.action -fIw -d10
ExecStop=/usr/sbin/ifplugd -i $WIRED_INTERFACE -r /etc/ifplugd/netcfg.action -k

[Install]
WantedBy=multi-user.target
