[Unit]
Description=Automatic wireless network connection via netcfg
Before=network.target
Wants=network.target

[Service]
EnvironmentFile=/etc/conf.d/netcfg
ExecStart=/usr/bin/netcfg-wpa_actiond $WIRELESS_INTERFACE
ExecStop=/usr/bin/netcfg-wpa_actiond stop $WIRELESS_INTERFACE
RemainAfterExit=yes
Type=forking

[Install]
WantedBy=multi-user.target
