[Unit]
Description=Netcfg networking service for profile %i
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/netcfg check-iface %i
ExecStop=-/usr/bin/netcfg down %i

[Install]
WantedBy=multi-user.target
