CONNECTION="wireless"
DESCRIPTION="Very verbose complete wireless example"

INTERFACE=eth0
HOSTNAME=myhost

# Interface Settings (use IP="dhcp" for DHCP)
IP="static"
IFOPTS="192.168.0.2 netmask 255.255.255.0 broadcast 192.168.0.255"
GATEWAY=192.168.0.1

# DHCP Example
#IP=dhcp
#DHCP_TIMEOUT=20 # Default is 10.
#DHCP_OPTIONS="" # Extra arguments for dhcpcd

# DNS Settings (optional)
DOMAIN=localdomain
DNS1=192.168.0.1
DNS2=
SEARCH=

# Standard Wireless Settings
ESSID=MyNetwork
SECURITY=wpa # One of wep, wpa, wpa-config, none
KEY="SomePasskey"

# Scans to see if network is available before connecting (reccomended)
SCAN="YES"

# Time to wait to connect to a network. Default 15.
TIMEOUT=10

# Pass *custom* options to iwconfig. Usually not needed (optional)
IWOPTS="mode managed essid $ESSID channel 6 key restricted $KEY"

# Any extra arguments for wpa_supplicant
WPA_OPTS=

# For SECURITY='wpa-config' only - filename of a wpa-supplicant config
WPA_CONF=

# Commands to run at various stages of configuration
PRE_UP=
POST_UP=
PRE_DOWN=
POST_DOWN="some command"
